
CONFIG_PACKAGE_rsync=y
CONFIG_PACKAGE_rsyncd=y

CONFIG_PACKAGE_git=y

CONFIG_PACKAGE_sudo=y
CONFIG_PACKAGE_bash=y
CONFIG_PACKAGE_tmux=y
CONFIG_PACKAGE_screen=y

CONFIG_PACKAGE_htop=y
CONFIG_HTOP_LMSENSORS=y
CONFIG_PACKAGE_lm-sensors=y
CONFIG_PACKAGE_lm-sensors-detect=y

CONFIG_BUSYBOX_CONFIG_ADDUSER=y