
CONFIG_TARGET_x86=y
CONFIG_TARGET_x86_64=y
CONFIG_TARGET_x86_64_DEVICE_generic=y

#
# Target Images
#
CONFIG_ISO_IMAGES=y
CONFIG_QCOW2_IMAGES=y
CONFIG_VDI_IMAGES=n
CONFIG_VMDK_IMAGES=n
CONFIG_VHDX_IMAGES=y
CONFIG_TARGET_IMAGES_GZIP=y

CONFIG_PACKAGE_rsync=y
CONFIG_PACKAGE_rsyncd=y

CONFIG_PACKAGE_git=y
